.hero-section {
  margin-bottom: 50px;
  max-width: 1400px;
  margin: 0 auto 100px;
}

.hero-left {
  max-width: 350px;
  margin: 0 auto;

  .main-slogan {
    margin-bottom: 10px;
    font-size: 2.6rem;
  }

  .hero-buttons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 8px;
  }
}

.hero-right {
  display: flex;
  margin-top: 80px;
  img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.offer-button {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 12px 0;
  border-radius: $border-radius-large;
  background-color: $primary-font-color;
  color: $primary-background-color;
  border: 2px solid $primary-font-color;
  text-align: center;
}

.products-button {
  width: 100%;
  padding: 12px 0;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: $border-radius-large;
  border: 2px solid $primary-font-color;
  text-align: center;
}

@media (min-width: 600px) {
  .hero-section {
    display: flex;
    justify-content: space-between;
  }

  .hero-left {
    margin: 0;
    .offer-button:hover {
      background-color: black;
      color: white;
    }

    .products-button:hover {
      background-color: white;
      font-weight: 600;
    }
  }

  .hero-right {
    display: inline-flex;
    margin: 0;

    img {
      width: auto;
      max-width: 320px;
      margin-left: 30px;
    }
  }
}

@media (min-width: 768px) {
  .hero-right img {
    max-width: 450px;
  }
}

@media (min-width: 950px) {
  .hero-right img {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .hero-left {
    margin-top: 40px;
    .main-slogan {
      font-size: 3.2rem;
    }
  }

  .hero-right img {
    max-width: 600px;
  }
}

@media (min-width: 1100px) {
  .hero-section .hero-left {
    margin-top: 100px;
  }
  .hero-right img {
    max-width: 650px;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    .hero-left {
      max-width: 500px;
      margin-top: 120px;
      .main-slogan {
        font-size: 4.8rem;
      }

      p {
        font-size: 2.4rem;
      }
    }

    .hero-buttons {
      margin-top: 30px;
    }

    .offer-button {
      padding: 16px;
      font-size: 2rem;
    }

    .products-button {
      padding: 16px;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

@media (min-width: 1450px) {
  // .hero-right img {
  //   max-width: 860px;
  // }
}
