.hero-left {
	max-width: 350px;
	.main-slogan {
		margin-top: 20px;
		font-size: 2.6rem;
	}

	.hero-buttons {
		display: flex;
		margin-top: 20px;
		gap: 20px;
	}
}

.hero-right {
	display: none;
}

.offer-button {
	width: 120px;
	height: 34px;
	border-radius: $border-radius-large;
	background-color: $primary-font-color;
	color: $primary-background-color;
}

.products-button {
	width: 120px;
	height: 34px;
	border-radius: $border-radius-large;
}

@media (min-width: 768px) {
	.hero-section {
		display: flex;
		justify-content: space-between;
	}

	.hero-right {
		display: inline-flex;

		img {
			width: auto;
			max-width: 450px;
		}
	}
}

@media (min-width: 1024px) {
	.hero-left {
		zoom: 1.2;
	}

	.hero-right img {
		zoom: 1.2;
	}
}

@media (min-width: 1200px) {
	.hero-left {
		zoom: 1.8;
	}
	.hero-right img {
		zoom: 1.8;
	}
}
