.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.product-imageslider {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.product-description {
  margin-top: 20px;
}

/* For larger screens */
@media (min-width: 768px) {
  /* Adjust the breakpoint as needed */
  .product-detail {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    margin: 60px auto;
  }
  
  .product-info {
    text-align: left;
    flex: 1; /* Takes up the remaining space after the image */
  }
}
